{% extends "base.html" %}
{% load static %}

{% block 'title'%}Login{% endblock %}

{% block 'body'%}
<header class="header">
    {% if messages %}
    {% for i in messages%}
        <div class="alert {{i.tags}}" role="alert">
            {{i}}
        </div>
    {% endfor %}
    {% endif %}
</header>

<div class="container-fluid padding-top">
    <div class="row ">
        <div class="col-md-12 flexbox">
            <h1>Welcome to Spotify Stat</h1>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 flexbox">
            <a href={% url "auth" %}><button class="btn btn-success">Log In with my Spotify account</button></a>
        </div>
    </div>
</div>  
{%endblock%}
