*{
    margin: 0;
    padding: 0;
}
.gray-back{
    background-color: rgba(232, 228, 228, 0.842);
}
.green-back{
    background-color: #1ED760;
}

body{
    overflow-x: hidden;
}

.margin{
    padding:10px;
}

.time{
    font-size:medium;}

.upper{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
}