{% extends "base.html" %}
{% load static %}

{% block 'title'%}App{% endblock %}

{% block 'body'%}
<header class="header">
    <div>
        {% if messages %}
            {% for i in messages%}
                <div class="alert {{i.tags}}" role="alert">
                    {{i}}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</header>
<div class="container-fluid">
    <div class="row margin green-back flexbox ">
        <div class="col-md-6">
            <h1 class="text-center">WELCOME TO SPOTIFY STATS</h1>
        </div>
        <div class="col-md-4">
            <form action="{% url "api_calls"%}" method="GET"> {% csrf_token %}
                <div class="row margin">
                    <div class="col-md-4">
                        <select name="action" class="form-select form-select-lg mb-3">
                            <option selected value="1">Top Artists</option>
                            <option value="2">Top Tracks</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <select name="time" class="form-select form-select-lg mb-3">
                            <option selected value="1">Last Month</option>
                            <option value="2">Last 6 Months</option>
                            <option value="3">All time</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select name="limit" class="form-select form-select-lg mb-3">
                            <option selected value="1">Top 10</option>
                            <option value="2">Top 25</option>
                            <option value="3">Top 50</option>
                        </select>
                    </div>
                    <input class="btn btn-success" type="submit" value="CHECK">
                </div>
            </form>
        </div>
        <div class="col-md-2 flexbox"> 
            <a href="{% url "clearsession" %}" class="btn btn-dark text-center">EXIT YOUR ACCOUNT</a>
        </div>
    </div>
    <div class="row margin">
        <div class="col-md-12 text-center">
            <h1 class="upper">{{message}}</h1>
        </div>
    </div>
    <hr>
    <div class="row margin">
        <div class="col-md-1"></div>
            <div class="col-md-10">

                {% if 'artists' %}
                    {%for artist in artists%}
                        <div class="row">
                            <div class="col-md-1"><h1>{{artist.number}}</h1></div>
                            <div class="col-md-1">
                                <img width="100%" height="100%" src="{{artist.image}}"></img>
                            </div>
                            <div class="col-md-10 text-center">
                                <br>
                                <h4>{{artist.name}}</h4>
                                <h5>{{artist.popularity}}</h5>
                            </div>
                        </div>
                        <br>
                    {% endfor%}
                {% endif%}

                {% if 'tracks'%}
                    {% for track in tracks%}
                    <div class="row">
                        <div class="col-md-1 text-center"><h1>{{track.number}}</h1></div>
                        <div class="col-md-1">
                            <img width="100%" height="100%" src="{{track.image}}"></img>
                        </div>
                        <div class="col-md-10 text-center-special">
                            <h4>{{track.name}} <spam class="time"> {{track.duration}}</spam></h4>
                            <h5>{{track.artist}}</h5>
                            <h6>{{track.album}}</h6>
                        </div>
                    </div>
                    <br>
                    {% endfor %}

                {% endif %}
            </div>
        <div class="col-md-1"></div>
    </div>

<div>
{%endblock%}
