{% extends "base.html" %}
{% load static %}

{% block 'title'%}App{% endblock %}

{% block 'body'%}

{% if messages %}
    {% for i in messages%}
        <div class="alert {{i.tags}}" role="alert">
            {{i}}
        </div>
    {% endfor %}
{% endif %}

<br>
<div>
    <div class="row margin">
        <div class="col-md-1"></div>

        <div class="col-md-5">
            <h1>WELCOME TO SPOTIFY STATS</h1>
        </div>


        <div class="col-md-4">
            <form action="{% url "api_calls"%}" method="GET"> {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <select name="action" class="form-select form-select-lg mb-3">
                            <option selected value="1">Top Artists</option>
                            <option value="2">Top Tracks</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <select name="time" class="form-select form-select-lg mb-3">
                            <option selected value="1">Last Month</option>
                            <option value="2">Last 6 Months</option>
                            <option value="3">All time</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select name="limit" class="form-select form-select-lg mb-3">
                            <option selected value="1">Top 10</option>
                            <option value="2">Top 25</option>]
                            <option value="3">Top 50</option>
                        </select>
                    </div>
                    <input class="btn btn-success" type="submit">
                </div>
            </form>
        </div>
        <div class="col-md-1">
            <br> 
            <a href="{% url "clearsession" %}" class="btn btn-danger">EXIT YOUR ACCOUNT</a></div>
        <div class="col-md-1"></div>
    </div>


    <div class="row margin">
        <div class="col-md-1"></div>
            <div class="col-md-10">

                {% if 'artists' %}
                    {%for artist in artists%}
                        <h5>{{artist.name}} </h5><br>
                    {% endfor%}
                {% endif%}

                {% if 'tracks'%}
                    {% for track in tracks%}
                        <h5>{{track.name}}<h5><br>
                    {% endfor %}

                {% endif %}
            </div>
        <div class="col-md-1"></div>
    </div>
</div>
{%endblock%}
